@use 'base/variables' as v;
@use 'base/mixins' as m;

.filtros{
    background-color: darken(v.$blanco, 20%);
    display: flex;
    align-items: center;
    margin-top: 2rem;
    border-radius: .5rem;
    padding: 2rem;


    .filtros-inputs{
        @include m.tablet{
            display: flex;
            align-items: center;
            gap: 2.2rem;
            justify-content: space-between;
        }
    }
    h2{
        font-size: 2rem;
        color: v.$gris;
        @include m.tablet{
            margin: 0;
        }
        

    }
    .campo{ 
        margin-bottom: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: .5rem;
        @include m.tablet{
            margin: 0;
        }
      
    }

    input[type="radio"]{
        accent-color: v.$indigo;
        width: 1.5rem;
        height: 1.5rem;
    }
}